{% extends 'common.html' %}
{% block common %}
{% include 'student_navbar.html' %}
 {% load static %}
<style>
</style>
    <body>

        <form method="post" action="{% url 'student_login' %}">
                {% csrf_token %}

    <table  align="center" width="500"  border="0" style="border-radius:20px" >

       <tr><br>
           <th colspan="2" width="200" style="background-color:chartreuse;color: deeppink;font-size: 30px;font-family: 'Harlow Solid Italic';border-radius: 50px;text-align: center">
               Student Login Details</th>
       </tr>

         <tr>
        <th rowspan="6"><br>
            <img src="{% static 'images/studentlogin.jpeg' %}" style="margin-left: 10px" width="220" height="180">
        </th>

        <tr>
        <tr>
        <td><br>
            <input type="text" placeholder="Email" name="a1" required style="border-radius: 5px" >
        </td>
        </tr>

        <tr>
            <td>
                <input type="password" placeholder="Password"  name="a2" required style="border-radius: 5px">
            </td>

        </tr>

        <tr>
            <td style="text-align: center">
                <button type="submit" class="btn btn-danger">Login</button>
            </td>
        </tr>
    </tr>

            </table>
            </form>
     </body>

    <br>
    {% for msg in messages %}
    <h5 style="text-align: center;color: red">{{ msg }}</h5>
    {% endfor %}

{% endblock %}
